@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
* {
    outline: none;
    box-sizing: border-box;
}
body{
    background-image: url("/data/back.png");
    background-size:cover;
}
.button_enroll{
    margin-left: 30px;
    background-color:green;
    color: white;
    width:100px;
    border: none;
    padding: 5px;
    border-radius: 10px;
}
.button_clear{
    margin-left: 30px;
    background-color: rgb(159, 5, 5);
    color: white;
    width:100px;
    border: none;
    padding: 5px;
    border-radius: 10px;
}
#header {
    background: rgb(81, 2, 73);
    background: radial-gradient(circle, rgb(142, 11, 151) 0%, rgb(236, 116, 204) 100%);
    padding: 20px;
    color: black;
    font-family: 'Times New Roman', cursive;
}
#heading {
    font-size: 35px;
}
#productTable {
    border: none;
    padding:0px
}

#displayTable {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Bruno Ace SC', cursive;
}
#OutputTable
{
    background: rgb(252, 5, 112);
    background: radial-gradient(circle, rgb(246, 6, 206) 0%, rgb(231, 60, 60) 100%);
    color:black;
}
#vertical {
    border-left: 3px solid dimgray;
    height: 500px;
    position: absolute;
    left: 50%;
    text-align: right;
}

#image {
    width: 150px;
}

#newData {
    border-color: lightslategrey;
}

.form-group{
    flex-wrap: nowrap;
}

